

.banner-head{
    position: relative;
    bottom: 6rem;
    background-color: black;
    opacity: 0.5;
    text-align: center;
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
